<div class="container">
  <div class="row">
    <div class="col-12 text-center mb-5">
      <h1>Accedi o registrati</h1>
    </div>
    <div class="col-6 d-flex flex-column align-items-center">
      <h2>Login</h2>
      <button routerLink="login" class="btn btn-primary">
        Accedi con il tuo account
      </button>
    </div>
    <div class="col-6 d-flex flex-column align-items-center">
      <h2>Register</h2>
      <button routerLink="register" class="btn btn-primary">
        Crea un nuovo account
      </button>
    </div>
  </div>
</div>
